<!--
  Generated template for the FlickrInterestingnessPage page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-navbar *navbar>
  <button menuToggle>
    <ion-icon name="menu"></ion-icon>
  </button>
  <ion-title>flickr trending</ion-title>
</ion-navbar>

<ion-content padding class="flickr-interestingness">
  <button (click)="loadInterestigness()">Load</button>
  <ion-list *ngIf="fillData()">
    <ion-item *ngFor="let photo of photosResponse.photos.photos">
      <img src="{{photo.getSmall320ImageUrl()}}">
    </ion-item>
  </ion-list>
</ion-content>
