.flickr-photo {
    background-color: #1a1a1a;
}

.centerImage {
    position:absolute;
    left: 0;
    right: 0;
    margin:0 auto;
    top:50%;
    transform:translateY(-50%);
}

.hide{
  display: none!important;
}
